@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    padding: 10px;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

body.active {
    overflow-y: hidden;
}


.overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #00000084;
    z-index: -1;
}

.modal {
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.modal.active, .overlay.active {
    display: block;
}

.modal-wrapper {
    padding: 50px;
    position: relative;
    max-width: 700px;
    background-color: #fff;
}
.modal-wrapper h1 {
    font-size: 44px;
    font-weight: 800;
    margin-bottom: 40px;
    line-height: 60px;
}

.modal-wrapper {
    font-size: 20px;
    line-height: 30px;
}
.close-btn {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 50px;
    cursor: pointer;
    color: #fb0000;
}

.open-btn {
    background-color: #2a3560;
    color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.open-btn:hover {
    background-color: #122d97;
}


@media(max-width: 575px){
    .modal-wrapper h1 {
        font-size: 34px;
        line-height: 40px;
    }

    .modal-wrapper p {
        font-size: 18px;
        line-height: 26px;
    }
}